{% extends "torrent/base.html" %}

{% block title %} Search | {{block.super}} {% endblock %}

{% block content %}

<form id="search" action="." method="GET">
  <div id="search-box">
    {% spaceless %}
    <input type="search" name="q" value="{{request.GET.q}}" placeholder="Search {{settings.SITE_NAME}}" autocomplete="off">
    <select name='category' >
      <option>All Torrents</option>
      <option value='anime'>Anime</option>
    </select>
    <input type="submit" value="Search">
    {% endspaceless %}
  </div>
  <div id="pulldown">
    <div id="advanced">
      {{form.as_p}}
    </div>
    <a id="tab" href="javascript:(function() {$('#advanced').toggle(); return})()"> Advanced Search </a>
  </div>
</form>

{% endblock content %}