/* Gobal styles for default theme */
@import url("http://fonts.googleapis.com/css?family=Leckerli+One");
@import url("http://fonts.googleapis.com/css?family=Sansita+One");
html { /*font-family: sans-serif padding: 0 min-height: 100% */* in case browser does not understand multi-backgound *cough* IE *cough* */ /*background: url("#{$static-url}img/bg.png") */ /*background: url("#{$static-url}img/bg_top.png") repeat-x scroll top, url("#{$static-url}img/bg.png") repeat scroll */ }

body { margin-top: 40px; width: 100%; }

body > .container, body > .container-fluid { padding: 0 20px; }

/*		margin: 0 auto background-color: transparent max-width: 1200px */
/*	min-height: 100px */
h1, h2, h3, h4, h5, h6 { font-family: "Sansita One", helvetica; }

h1 { border-bottom: 1px solid darkgrey; }

.hidden { display: none; }

.topbar .brand { font-family: "Leckerli One"; }
.topbar .brand img { margin: -15px 10px -15px 0; }

#usertools { color: white !important; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; float: right; right: 0; padding: 10px 5px; }
#usertools { *display: inline; }
#usertools .avatar { float: left; margin-top: -5px; margin-right: 5px; margin-bottom: -5px; }
#usertools a, #usertools a:visited { color: white; }
#usertools a:hover { color: #dddddd; }

header.jumbotron { display: block; padding: 0px 10px; height: 140px; width: 100%; max-width: none; margin: 0; margin-bottom: 30px; text-align: center; background: url("/static/img/bg.png"); border-bottom: 1px solid grey; }
header.jumbotron #branding { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; }
header.jumbotron #branding { *display: inline; }
header.jumbotron #branding img { float: left; }
header.jumbotron #branding span { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; color: white; font-size: 60px; margin: 45px 0 0 20px; text-shadow: 0 0 2px #333333, 0 3px 7px #333333; font-family: "Leckerli One", cursive; }
header.jumbotron #branding span { *display: inline; }
header.jumbotron #branding p { margin-top: 20px; color: #333333; text-shadow: 0 1px 0px #eeeeee; }

#content-container { padding: 20px; min-height: 500px; }
#content-container .content { margin-left: 270px; }

.hidden + .content { margin-left: 0px !important; }

/*#sidebar */
/*	float: right */
#footer { border-top: 1px solid white; vertical-align: baseline; margin-top: 20px; width: 100%; max-width: none; text-align: center; }
#footer p { font-size: 10px; color: darkgrey !important; margin: 3px 0; }
#footer img.badges { padding: 0; margin: 0 5px; border: 0; }
