/* Gobal styles for default theme */

@import "settings"
@import "compass"
@import "compass/css3/gradient"
@import "compass/css3/box-shadow"
@import "compass/css3/text-shadow"
@import "compass/css3/inline-block"
@import "compass/css3/border-radius"

@import url("http://fonts.googleapis.com/css?family=Leckerli+One")
@import url("http://fonts.googleapis.com/css?family=Sansita+One")

html
	/*font-family: sans-serif
	 *padding: 0
	 *min-height: 100%
	 */* in case browser does not understand multi-backgound *cough* IE *cough*
	/*background: url("#{$static-url}img/bg.png") 
	/*background: url("#{$static-url}img/bg_top.png") repeat-x scroll top, url("#{$static-url}img/bg.png") repeat scroll

body
	margin-top: 40px
	width: 100%
body 
	& > .container, & > .container-fluid
		padding: 0 20px
/*		margin: 0 auto
		background-color: transparent
		max-width: 1200px
/*	min-height: 100px

h1, h2, h3, h4, h5, h6
	font-family: 'Sansita One', helvetica
h1
	border-bottom: 1px solid darkgrey

.hidden
	display: none

.topbar .brand
	font-family: "Leckerli One"
	img
		margin: -15px  10px -15px 0

#usertools
	color: white !important
	+inline-block
	float: right
	right: 0
	padding: 10px 5px
	.avatar
		float: left
		margin:
			top: -5px
			right: 5px
			bottom: -5px
	a, a:visited
		color: white
	a:hover
		color: #DDD

header.jumbotron
	display: block
	padding: 0px 10px
	height: 140px
	width: 100%
	max-width: none
	margin: 0
		bottom: 30px
	text-align: center
	background: url("#{$static-url}img/bg.png")
	border-bottom: 1px solid grey
	#branding
		+inline-block
		img
			float: left
		span
			+inline-block
			color: white
			font-size: 60px
			margin: 45px 0 0 20px
			+text-shadow( 0 0 2px #333, 0 3px 7px #333)
			font-family: 'Leckerli One', cursive
		p
			margin-top: 20px
			color: #333
			+text-shadow( 0 1px 0px #EEE )

#content-container
	padding: 20px
	min-height: 500px
	.content
		margin-left: 270px

.hidden + .content
	margin-left: 0px !important
	

/*#sidebar
/*	float: right

#footer
	border-top: 1px solid white
	vertical-align: baseline
	margin-top: 20px
	width: 100%
	max-width: none
	text-align: center
	p
		font-size: 10px
		color: darkgrey !important
		margin: 3px 0
	img.badges
		padding: 0
		margin: 0 5px
		border: 0
